.main{
    min-width: 1300px;
    height: 320px;
    background-color: #f6f6f6;
}
.main .inner{
    padding-top: 80px;
    color: #191919;
    text-align: center;
}
.main h1{
    font-size: 32px;
    margin-bottom: 40px;
}
.main p{
    font-size: 16px;
    color: #333;
}
/*콘텐츠 영역*/
.contents > .inner{
    display: flex;
    flex-wrap: wrap;/*줄바꿈 허용*/
}
.contents .inner .box{
    width: 25%;
    height: 280px;
    position: relative;
    cursor: pointer;
}
.contents .inner .box .eye{
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: rgba(16, 201, 195, 0.6) url(../img/eye.png)
    no-repeat center;
    opacity: 0;
    transform: rotate(-720deg) scale(0);
    transition: .5s;
}
.contents .inner .box:hover .eye{
    opacity: 1;
    transform: rotate(0deg) scale(1);
}